Este conjunto de dados contém informações sobre as consultas médicas marcadas em clínicas no Brasil e se os pacientes compareceram ou não às consultas.

O conjunto de dados inclui as seguintes colunas:

* PatientId: identificador único do paciente
* AppointmentID: identificador único da consulta
* Gender: gênero do paciente (Feminino/Masculino)
* ScheduledDay: data em que a consulta foi marcada
* AppointmentDay: data da consulta
* Age: idade do paciente
* Neighbourhood: nome do bairro onde a consulta ocorrerá
* Scholarship: indica se o paciente faz parte do programa Bolsa Família (0 = não, 1 = sim)
* Hipertension: indica se o paciente tem hipertensão (0 = não, 1 = sim)
* Diabetes: indica se o paciente tem diabetes (0 = não, 1 = sim)
* Alcoholism: indica se o paciente tem problemas com álcool (0 = não, 1 = sim)
* Handcap: indica se o paciente é deficiente (0 = não, 1 = sim)
* SMS_received: indica se o paciente recebeu uma mensagem de lembrete da consulta (0 = não, 1 = sim)
* No-show: indica se o paciente compareceu à consulta (No = sim, Yes = não)

In [1]:
# espaço de tempo entre o dia da marcação e a caonsulta em si,  o que influencia na ausência?
# criar coluna com delta T 
# teste 1

In [2]:
import pandas as pd
import sys

In [3]:
df = pd.read_excel('appointment_prediction_data.xlsx')

In [4]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62.0,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62.0,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8.0,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0,1,1,0,0,0,No

In [5]:
df.info()
# appointmentDay poderia ser objeto tipo date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110573 entries, 0 to 110572
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110573 non-null  float64
 1   AppointmentID   110573 non-null  int64
 2   Gender          110573 non-null  object
 3   ScheduledDay    110573 non-null  object
 4   AppointmentDay  110573 non-null  object
 5   Age             110451 non-null  float64
 6   Neighbourhood   110573 non-null  object
 7   Scholarship     110573 non-null  int64
 8   Hipertension    110573 non-null  int64
 9   Diabetes        110573 non-null  int64
 10  Alcoholism      110573 non-null  int64
 11  Handcap         110573 non-null  int64
 12  SMS_received    110573 non-null  int64
 13  No-show         110573 non-null  object
dtypes: float64(2), int64(7), object(5)
memory usage: 11.8+ MB

In [6]:
# coluna gender
f= df['Gender'] == 'Female'
f.value_counts() 
# 48 campos fora do padrão

False    110525
True         48
Name: Gender, dtype: int64

In [7]:
m=df['Gender'] == "Male"
m.value_counts()
# 9 fora do padrão

False    110564
True          9
Name: Gender, dtype: int64

In [8]:
# substituindo Female por F
df['Gender'].replace({'Female':'F','Male':'M'}, inplace=True)

In [9]:
# converter dtype object para datetime na coluna AppointmentDay
df['AppointmentDay']=pd.to_datetime(df['AppointmentDay'], format='%Y-%m-%d')
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29 00:00:00+00:00,62.0,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29 00:00:00+00:00,56.0,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29 00:00:00+00:00,62.0,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29 00:00:00+00:00,8.0,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29 00:00:00+00:00,56.0,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110568,8.567868e+12,5627377,F,2016-04-27T09:24:46Z,2016-06-03 00:00:00+00:00,20.0,RESIST√äNCIA,0,0,0,0,0,1,No
110569,3.134163e+12,5768536,F,2016-06-03T07:42:27Z,2016-06-03 00:00:00+00:00,53.0,RESIST√äNCIA,0,0,0,0,0,0,No
110570,6.846652e+12,5768917,M,2016-06-03T08:10:22Z,2016-06-03 00:00:00+00:00,51.0,RESIST√äNCIA,0,0,0,0,0,0,No
110571,8.222960e+11,5772302,F,2016-06-03T15:06:15Z,2016-06-07 00:00:00+00:00,19.0,RESIST√äNCIA,0,0,0,0,0,1,No
110572,7.682333e+13,5782376,M,2016-06-07T11:06:56Z,2016-06-07 00:00:00+00:00,1.0,RESIST√äNCIA,0,0,0,0,0,0,No

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110573 entries, 0 to 110572
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110573 non-null  float64
 1   AppointmentID   110573 non-null  int64
 2   Gender          110573 non-null  object
 3   ScheduledDay    110573 non-null  object
 4   AppointmentDay  110573 non-null  datetime64[ns, UTC]
 5   Age             110451 non-null  float64
 6   Neighbourhood   110573 non-null  object
 7   Scholarship     110573 non-null  int64
 8   Hipertension    110573 non-null  int64
 9   Diabetes        110573 non-null  int64
 10  Alcoholism      110573 non-null  int64
 11  Handcap         110573 non-null  int64
 12  SMS_received    110573 non-null  int64
 13  No-show         110573 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(7), object(4)
memory usage: 11.8+ MB

In [11]:
# substituir os nomes dos bairros fora do padrao 
df['Neighbourhood'].replace({'RESIST√äNCIA':'RESISTÊNCIA','REP√öBLICA':'REPÚBLICA',
                            'S√ÉO PEDRO':'SÃO PEDRO','S√ÉO CRIST√ìV√ÉO':'SÃO CRISTÓVÃO',
                             'MARU√çPE':'MARUÍPE','GRANDE VIT√ìRIA':'GRANDE VITÓRIA',
                             'S√ÉO BENEDITO':'SÃO BENEDITO','SANTO ANDR√â':'SANTO ANDRÉ',
                             'ANT√îNIO HON√ìRIO':'ANTÔNIO HONÓRIO',
                             'M√ÅRIO CYPRESTE':'MARIO CYPRESTE','SANTO ANT√îNIO':'SANTO ANTONIO',
                             'PRAIA DO SU√Å':'PRAIA DO SUÁ','ITARAR√â':'ITARARA',
                             'INHANGUET√Å':'INHAGUETA','UNIVERSIT√ÅRIO':'UNIVERSITARIO',
                             'S√ÉO JOS√â':'SÃO JOSÉ','REDEN√á√ÉO':'REDENÇÃO',
                             'CARATO√çRA':'CARATOÍRA'}, inplace=True)

In [12]:
if '√' in df['Neighbourhood']:
    print('há nomes incorretos')
else:
    print('Valores corrigidos')

Valores corrigidos

In [13]:
# Age, há pessoas sem registro de idade?
#quantas?

print(f"Yes, it is {df['Age'].isnull().any()} that have null rows in this column.\n")

(f"It\'s {df['Age'].isnull().sum()} null rows in this column.")

Yes, it is True that have null rows in this column.

"It's 122 null rows in this column."

In [14]:
# caso seja necessário apagar as linhas cujas idades constam null:
#df.dropna(subset=["Age"], inplace=True)

In [15]:
df['PatientId'].value_counts()

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
                ..
4.123288e+12     1
2.915678e+13     1
5.885473e+11     1
2.754952e+14     1
1.557663e+13     1
Name: PatientId, Length: 62299, dtype: int64

In [16]:
# percentual de ausentes pelo todo
df['No-show'].replace({'Yes': 0, 'No': 1}, inplace=True)
porcentagem_comparecimento = df['No-show'].mean() * 100
porcentagem_nao_comparecimento = 100 - porcentagem_comparecimento
print(f"% comparecimento: {porcentagem_comparecimento:.2f}%\n% não comparecimento: {porcentagem_nao_comparecimento:.2f}%")

% comparecimento: 79.81%
% não comparecimento: 20.19%

## Perguntas a serem respondidas:  
### Ação combativa
- Qual o impacto do recebimento do SMS em cada grupo?
  - Geral
  - Problemas de saúde
  - Idade

### Ação paliativa
- Qual a faixa etária mais assídua e a mais ausente? 
- Qual(is) o(s) bairro(s) de pessoas menos assíduas? 
- Quais os problemas de saúde das pessoas menos assíduas?

In [17]:
# tratando os dados duplicados do AppointmentID
#verificar se há duplos ID's de consultas
print(f"Na tabela, em coluna AppointmentID, constam {len(df['AppointmentID']):,.2f} linhas.\n")
print(f"Nessa coluna há {len(df['AppointmentID'].unique()):,.2f} valores únicos. Assim,são {len(df['AppointmentID'])-len(df['AppointmentID'].unique())} valores a menos. Logo há repetição de ID também na coluna consulta \n")
    
    # 46 é porque a gente já sabe que são 46 entradas com aID duplicadas
    # verificar quais são os id's de consultas duplicados, os 46 mais frequentes    
not_unique_appointmentID= df['AppointmentID'].value_counts().head(46)
#not_unique_appointmentID
    #Cria-se df com as linhas de valores duplicados com método duplicated. 
    #keep=False marca todas as ocorrencias de duplicatas, conforme documentação    
duplicated_rows = df[df.duplicated()]
    #todas as ocorrências de repetição de linhas devido ao keep=False ex: a,a, b,b, c,c ...
total_rows_duplicated=df[df.duplicated(keep=False)]
print(f"ao todo, há a ocorrência de {len(total_rows_duplicated)} linhas q são exatas cópias uma da outra.\n")
print(f"It\'s {len(duplicated_rows)} duplicated identical rows in our sheets.\n")
print(f"{len(duplicated_rows)} entradas estão duplicadas. Totalizando {len(total_rows_duplicated)} linhas.\n")
print(f"""
{len(df['AppointmentID'])-len(df['AppointmentID'].unique())} entradas possuem aID duplicados, ou seja, {len(duplicated_rows)} que são as entradas duplicadas mais {(len(df['AppointmentID'])-len(df['AppointmentID'].unique()))-(len(duplicated_rows))} que são entradas que 
não sãoi nteiramente duplicada, somente/pelo menos o aID. Juntas elas geram 92 linhas duplicadas (46+46).
""")

print(f"Originalmente há {len(df):,} linhas, sem removermos as duplicatas.\n")
print(f"Após a remoção das duplicatas temos {len(df.drop_duplicates())} linhas. Diferença de {(len(df)-len(df.drop_duplicates())):,} linhas.")

Na tabela, em coluna AppointmentID, constam 110,573.00 linhas.

Nessa coluna há 110,527.00 valores únicos. Assim,são 46 valores a menos. Logo há repetição de ID também na coluna consulta

ao todo, há a ocorrência de 48 linhas q são exatas cópias uma da outra.

It's 24 duplicated identical rows in our sheets.

24 entradas estão duplicadas. Totalizando 48 linhas.


46 entradas possuem aID duplicados, ou seja, 24 que são as entradas duplicadas mais 22 que são entradas que
não sãoi nteiramente duplicada, somente/pelo menos o aID. Juntas elas geram 92 linhas duplicadas (46+46).

Originalmente há 110,573 linhas, sem removermos as duplicatas.

Após a remoção das duplicatas temos 110549 linhas. Diferença de 24 linhas.

In [18]:
# total de colsultas

In [19]:
# 46 entradas com aID duplicadas
not_unique_appointmentID

5589608    2
5759838    2
5788054    2
5782376    2
5772302    2
5768917    2
5768536    2
5627377    2
5769406    2
5628114    2
5769545    2
5770574    2
5770114    2
5770424    2
5772107    2
5772215    2
5772400    2
5772475    2
5760367    2
5746688    2
5749879    2
5756082    2
5756120    2
5747442    2
5685681    2
5685689    2
5692938    2
5751672    2
5589609    2
5780308    2
5637132    2
5779073    2
5701786    2
5779046    2
5787655    2
5757745    2
5625409    2
5756018    2
5672031    2
5626262    2
5788052    2
5787937    2
5758133    2
5787233    2
5757697    2
5759473    2
Name: AppointmentID, dtype: int64

In [20]:
# essa linha gera um DataFrame com todas as linhas que não têm um aID único
not_unique_aID_rows = df[df['AppointmentID'].isin(not_unique_appointmentID.index)]
not_unique_aID_rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110284,2.532387e+14,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110285,2.146992e+13,5756018,F,2016-06-01T07:53:30Z,2016-06-01 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110286,6.243927e+13,5672031,F,2016-05-09T07:32:36Z,2016-06-08 00:00:00+00:00,68.0,MARIA ORTIZ,0,0,0,0,0,0,1
110287,3.429265e+13,5626262,M,2016-04-27T08:02:08Z,2016-06-02 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,1,1
110394,6.994145e+13,5637132,F,2016-04-28T17:29:26Z,2016-06-07 00:00:00+00:00,31.0,RESISTÊNCIA,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110568,8.567868e+12,5627377,F,2016-04-27T09:24:46Z,2016-06-03 00:00:00+00:00,20.0,RESISTÊNCIA,0,0,0,0,0,1,1
110569,3.134163e+12,5768536,F,2016-06-03T07:42:27Z,2016-06-03 00:00:00+00:00,53.0,RESISTÊNCIA,0,0,0,0,0,0,1
110570,6.846652e+12,5768917,M,2016-06-03T08:10:22Z,2016-06-03 00:00:00+00:00,51.0,RESISTÊNCIA,0,0,0,0,0,0,1
110571,8.222960e+11,5772302,F,2016-06-03T15:06:15Z,2016-06-07 00:00:00+00:00,19.0,RESISTÊNCIA,0,0,0,0,0,1,1
110572,7.682333e+13,5782376,M,2016-06-07T11:06:56Z,2016-06-07 00:00:00+00:00,1.0,RESISTÊNCIA,0,0,0,0,0,0,1

In [21]:
# pegar linhas totalmente duplicadas dentre as linhas de aID não único
dup = not_unique_aID_rows.loc[not_unique_aID_rows.duplicated()]
dup

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110549,6.238228e+12,5685689,F,2016-05-11T10:55:39Z,2016-06-06 00:00:00+00:00,13.0,RESISTÊNCIA,0,0,0,0,0,1,1
110550,6.272115e+13,5685681,M,2016-05-11T10:54:44Z,2016-06-06 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,1,1
110551,8.661213e+14,5747442,F,2016-05-30T15:38:46Z,2016-06-06 00:00:00+00:00,8.0,RESISTÊNCIA,0,0,0,0,0,1,1
110552,4.324755e+13,5756120,F,2016-06-01T07:58:45Z,2016-06-06 00:00:00+00:00,14.0,RESISTÊNCIA,0,0,0,0,0,1,1
110553,2.629184e+14,5756082,F,2016-06-01T07:56:41Z,2016-06-06 00:00:00+00:00,40.0,RESISTÊNCIA,0,1,1,0,0,1,1
110554,2.911460e+14,5749879,F,2016-05-31T08:19:23Z,2016-06-06 00:00:00+00:00,12.0,RESISTÊNCIA,0,0,0,0,0,1,0
110555,2.586717e+12,5746688,M,2016-05-30T14:23:10Z,2016-06-06 00:00:00+00:00,49.0,RESISTÊNCIA,0,1,0,0,0,1,1
110556,3.681872e+13,5760367,F,2016-06-01T14:45:45Z,2016-06-06 00:00:00+00:00,34.0,RESISTÊNCIA,0,0,0,0,0,1,1
110557,6.338837e+14,5701786,F,2016-05-16T11:00:12Z,2016-06-06 00:00:00+00:00,39.0,RESISTÊNCIA,0,1,0,0,0,1,1
110558,4.623267e+13,5772475,F,2016-06-03T15:30:53Z,2016-06-03 00:00:00+00:00,86.0,RESISTÊNCIA,0,1,0,0,0,0,1
110559,6.142460e+11,5772400,F,2016-06-03T15:18:44Z,2016-06-03 00:00:00+00:00,0.0,RESISTÊNCIA,0,0,0,0,0,0,1
110560,7.214919e+14,5772215,M,2016-06-03T14:53:55Z,2016-06-03 00:00:00+00:00,52.0,RESISTÊNCIA,0,0,0,0,1,0,1
110561,4.994742e+12,5772107,F,2016-06-03T14:34:46Z,2016-06-03 00:00:00+00:00,79.0,RESISTÊNCIA,0,1,1,0,0,0,1
110562,2.285376e+13,5770424,F,2016-06-03T10:15:24Z,2016-06-03 00:00:00+00:00,2.0,RESISTÊNCIA,0,0,0,0,0,0,1
110563,9.968524e+14,5770114,F,2016-06-03T09:45:25Z,2016-06-03 00:00:00+00:00,36.0,RESISTÊNCIA,0,0,0,0,0,0,1
110564,8.628934e+11,5770574,F,2016-06-03T10:37:12Z,2016-06-03 00:00:00+00:00,61.0,RESISTÊNCIA,0,1,0,0,0,0,1
110565,4.321846e+13,5769545,F,2016-06-03T08:56:51Z,2016-06-03 00:00:00+00:00,0.0,RESISTÊNCIA,0,0,0,0,0,0,1
110566,3.346245e+12,5628114,F,2016-04-27T10:29:36Z,2016-06-03 00:00:00+00:00,13.0,RESISTÊNCIA,0,0,0,0,0,1,0
110567,9.848895e+14,5769406,F,2016-06-03T08:48:00Z,2016-06-03 00:00:00+00:00,1.0,RESISTÊNCIA,0,0,0,0,0,0,1
110568,8.567868e+12,5627377,F,2016-04-27T09:24:46Z,2016-06-03 00:00:00+00:00,20.0,RESISTÊNCIA,0,0,0,0,0,1,1
110569,3.134163e+12,5768536,F,2016-06-03T07:42:27Z,2016-06-03 00:00:00+00:00,53.0,RESISTÊNCIA,0,0,0,0,0,0,1
110570,6.846652e+12,5768917,M,2016-06-03T08:10:22Z,2016-06-03 00:00:00+00:00,51.0,RESISTÊNCIA,0,0,0,0,0,0,1
110571,8.222960e+11,5772302,F,2016-06-03T15:06:15Z,2016-06-07 00:00:00+00:00,19.0,RESISTÊNCIA,0,0,0,0,0,1,1
110572,7.682333e+13,5782376,M,2016-06-07T11:06:56Z,2016-06-07 00:00:00+00:00,1.0,RESISTÊNCIA,0,0,0,0,0,0,1

In [22]:
# separando os aIDs (talvez esse passo seja desnecessário mas não consegui pensar)
dup_aIDs = dup['AppointmentID'].value_counts()
dup_aIDs # 24 rows

5685689    1
5685681    1
5772302    1
5768917    1
5768536    1
5627377    1
5769406    1
5628114    1
5769545    1
5770574    1
5770114    1
5770424    1
5772107    1
5772215    1
5772400    1
5772475    1
5701786    1
5760367    1
5746688    1
5749879    1
5756082    1
5756120    1
5747442    1
5782376    1
Name: AppointmentID, dtype: int64

In [23]:
# procurando dentro do DataFrame que tem os aIDs não-únicos os que NÃO SÃO duplicados 
#(notar o ~ dentro dos colchetes)
#44 linhas repetidas que não são duplicadas. Ou seja, 22 entradas.
not_dupped_not_unique_aID_rows=not_unique_aID_rows[~not_unique_aID_rows['AppointmentID'].isin(dup_aIDs.index)]
not_dupped_not_unique_aID_rows #44 rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110284,2.532387e+14,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110285,2.146992e+13,5756018,F,2016-06-01T07:53:30Z,2016-06-01 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110286,6.243927e+13,5672031,F,2016-05-09T07:32:36Z,2016-06-08 00:00:00+00:00,68.0,MARIA ORTIZ,0,0,0,0,0,0,1
110287,3.429265e+13,5626262,M,2016-04-27T08:02:08Z,2016-06-02 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,1,1
110394,6.994145e+13,5637132,F,2016-04-28T17:29:26Z,2016-06-07 00:00:00+00:00,31.0,RESISTÊNCIA,0,0,0,0,0,1,0
110395,2.423178e+12,5780308,F,2016-06-07T07:52:47Z,2016-06-07 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,0,1
110396,3.341854e+12,5589609,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,0,1
110397,3.341854e+12,5589608,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,1,1
110398,6.892189e+14,5751672,M,2016-05-31T10:28:02Z,2016-06-07 00:00:00+00:00,75.0,RESISTÊNCIA,0,1,0,0,0,1,1
110399,9.437123e+13,5692938,F,2016-05-12T16:47:53Z,2016-06-07 00:00:00+00:00,17.0,RESISTÊNCIA,0,1,0,0,0,1,0
110493,1.712135e+11,5788054,M,2016-06-08T11:06:40Z,2016-06-08 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110494,2.895817e+14,5779073,F,2016-06-06T17:44:14Z,2016-06-08 00:00:00+00:00,38.0,MARIA ORTIZ,0,0,0,0,0,0,1
110495,7.499489e+12,5759838,M,2016-06-01T13:49:47Z,2016-06-01 00:00:00+00:00,40.0,MARIA ORTIZ,0,0,0,0,0,0,1
110496,8.544295e+13,5779046,F,2016-06-06T17:35:38Z,2016-06-08 00:00:00+00:00,37.0,MARIA ORTIZ,0,1,0,0,0,0,0
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01 00:00:00+00:00,76.0,MARIA ORTIZ,0,0,0,0,0,0,1
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01 00:00:00+00:00,66.0,MARIA ORTIZ,0,1,1,0,0,0,1
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01 00:00:00+00:00,44.0,MARIA ORTIZ,0,0,0,0,0,0,1
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08 00:00:00+00:00,22.0,GOIABEIRAS,0,0,0,0,0,0,1
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01 00:00:00+00:00,64.0,SOLON BORGES,0,0,0,0,0,0,1
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08 00:00:00+00:00,4.0,MARIA ORTIZ,0,0,0,0,0,0,1
110527,2.987250e+13,5788054,M,2016-06-08T11:06:40Z,2016-06-08 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110528,5.589978e+14,5779073,F,2016-06-06T17:44:14Z,2016-06-08 00:00:00+00:00,38.0,MARIA ORTIZ,0,0,0,0,0,0,1
110529,4.262962e+12,5759838,M,2016-06-01T13:49:47Z,2016-06-01 00:00:00+00:00,40.0,MARIA ORTIZ,0,0,0,0,0,0,1
110530,8.679512e+11,5779046,F,2016-06-06T17:35:38Z,2016-06-08 00:00:00+00:00,37.0,MARIA ORTIZ,0,1,0,0,0,0,0
110531,8.841186e+12,5757745,M,2016-06-01T09:46:33Z,2016-06-01 00:00:00+00:00,76.0,MARIA ORTIZ,0,0,0,0,0,0,1
110532,9.598513e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110533,7.336882e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01 00:00:00+00:00,66.0,MARIA ORTIZ,0,1,1,0,0,0,1
110534,3.449833e+12,5787233,F,2016-06-08T09:35:13Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110535,5.639473e+13,5758133,M,2016-06-01T10:19:12Z,2016-06-01 00:00:00+00:00,44.0,MARIA ORTIZ,0,0,0,0,0,0,1
110536,7.812456e+13,5787937,F,2016-06-08T10:50:42Z,2016-06-08 00:00:00+00:00,22.0,GOIABEIRAS,0,0,0,0,0,0,1
110537,7.345362e+14,5759473,F,2016-06-01T13:00:36Z,2016-06-01 00:00:00+00:00,64.0,SOLON BORGES,0,0,0,0,0,0,1
110538,7.542951e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08 00:00:00+00:00,4.0,MARIA ORTIZ,0,0,0,0,0,0,1
110539,5.666548e+14,5637132,F,2016-04-28T17:29:26Z,2016-06-07 00:00:00+00:00,31.0,RESISTÊNCIA,0,0,0,0,0,1,0
110540,9.113946e+14,5780308,F,2016-06-07T07:52:47Z,2016-06-07 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,0,1
110541,9.988472e+13,5589609,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,0,1
110542,9.994839e+10,5589608,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,1,1
110543,8.457439e+13,5751672,M,2016-05-31T10:28:02Z,2016-06-07 00:00:00+00:00,75.0,RESISTÊNCIA,0,1,0,0,0,1,1
110544,1.479497e+13,5692938,F,2016-05-12T16:47:53Z,2016-06-07 00:00:00+00:00,17.0,RESISTÊNCIA,0,1,0,0,0,1,0
110545,1.713538e+13,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110546,7.223289e+12,5756018,F,2016-06-01T07:53:30Z,2016-06-01 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110547,6.222575e+14,5672031,F,2016-05-09T07:32:36Z,2016-06-08 00:00:00+00:00,68.0,MARIA ORTIZ,0,0,0,0,0,0,1
110548,1.215484e+13,5626262,M,2016-04-27T08:02:08Z,2016-06-02 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,1,1

In [24]:
not_unique_aID_rows['AppointmentID'].isin(dup_aIDs.index)

110284    False
110285    False
110286    False
110287    False
110394    False
          ...
110568     True
110569     True
110570     True
110571     True
110572     True
Name: AppointmentID, Length: 92, dtype: bool

In [25]:
#(dup_aIDs.index)# aId ds duplicados 
#not_unique_aID_rows['AppointmentID'].isin(dup_aIDs.index) #92 rows # retorna serie bool q verifica se cada aID de not_unique_aID_rows está na lista de IDs duplicados
#~not_unique_aID_rows["AppointmentID"].isin(dup_aIDs.index) # inverte. True -> False e False -> True
#not_unique_aID_rows[~not_unique_aID_rows["AppointmentID"].isin(dup_aIDs.index)] # retorna somente as linhas cujo aID ñ está duplicado
## 44 rows não unicas e não duplicadas inteiramente
# procurando dentro do DataFrame que tem os aIDs não-únicos os que NÃO SÃO duplicados (notar o ~ dentro dos colchetes)
not_dupped_not_unique_aID_rows = not_unique_aID_rows[~not_unique_aID_rows['AppointmentID'].isin(dup_aIDs.index)]
not_dupped_not_unique_aID_rows ##44 rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110284,2.532387e+14,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110285,2.146992e+13,5756018,F,2016-06-01T07:53:30Z,2016-06-01 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110286,6.243927e+13,5672031,F,2016-05-09T07:32:36Z,2016-06-08 00:00:00+00:00,68.0,MARIA ORTIZ,0,0,0,0,0,0,1
110287,3.429265e+13,5626262,M,2016-04-27T08:02:08Z,2016-06-02 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,1,1
110394,6.994145e+13,5637132,F,2016-04-28T17:29:26Z,2016-06-07 00:00:00+00:00,31.0,RESISTÊNCIA,0,0,0,0,0,1,0
110395,2.423178e+12,5780308,F,2016-06-07T07:52:47Z,2016-06-07 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,0,1
110396,3.341854e+12,5589609,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,0,1
110397,3.341854e+12,5589608,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,1,1
110398,6.892189e+14,5751672,M,2016-05-31T10:28:02Z,2016-06-07 00:00:00+00:00,75.0,RESISTÊNCIA,0,1,0,0,0,1,1
110399,9.437123e+13,5692938,F,2016-05-12T16:47:53Z,2016-06-07 00:00:00+00:00,17.0,RESISTÊNCIA,0,1,0,0,0,1,0
110493,1.712135e+11,5788054,M,2016-06-08T11:06:40Z,2016-06-08 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110494,2.895817e+14,5779073,F,2016-06-06T17:44:14Z,2016-06-08 00:00:00+00:00,38.0,MARIA ORTIZ,0,0,0,0,0,0,1
110495,7.499489e+12,5759838,M,2016-06-01T13:49:47Z,2016-06-01 00:00:00+00:00,40.0,MARIA ORTIZ,0,0,0,0,0,0,1
110496,8.544295e+13,5779046,F,2016-06-06T17:35:38Z,2016-06-08 00:00:00+00:00,37.0,MARIA ORTIZ,0,1,0,0,0,0,0
110497,7.935892e+14,5757745,M,2016-06-01T09:46:33Z,2016-06-01 00:00:00+00:00,76.0,MARIA ORTIZ,0,0,0,0,0,0,1
110498,9.433654e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110499,8.219692e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01 00:00:00+00:00,66.0,MARIA ORTIZ,0,1,1,0,0,0,1
110500,4.434384e+14,5787233,F,2016-06-08T09:35:13Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110501,4.544252e+11,5758133,M,2016-06-01T10:19:12Z,2016-06-01 00:00:00+00:00,44.0,MARIA ORTIZ,0,0,0,0,0,0,1
110502,7.316229e+14,5787937,F,2016-06-08T10:50:42Z,2016-06-08 00:00:00+00:00,22.0,GOIABEIRAS,0,0,0,0,0,0,1
110503,2.362182e+13,5759473,F,2016-06-01T13:00:36Z,2016-06-01 00:00:00+00:00,64.0,SOLON BORGES,0,0,0,0,0,0,1
110504,9.947983e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08 00:00:00+00:00,4.0,MARIA ORTIZ,0,0,0,0,0,0,1
110527,2.987250e+13,5788054,M,2016-06-08T11:06:40Z,2016-06-08 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110528,5.589978e+14,5779073,F,2016-06-06T17:44:14Z,2016-06-08 00:00:00+00:00,38.0,MARIA ORTIZ,0,0,0,0,0,0,1
110529,4.262962e+12,5759838,M,2016-06-01T13:49:47Z,2016-06-01 00:00:00+00:00,40.0,MARIA ORTIZ,0,0,0,0,0,0,1
110530,8.679512e+11,5779046,F,2016-06-06T17:35:38Z,2016-06-08 00:00:00+00:00,37.0,MARIA ORTIZ,0,1,0,0,0,0,0
110531,8.841186e+12,5757745,M,2016-06-01T09:46:33Z,2016-06-01 00:00:00+00:00,76.0,MARIA ORTIZ,0,0,0,0,0,0,1
110532,9.598513e+13,5787655,F,2016-06-08T10:21:14Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110533,7.336882e+14,5757697,F,2016-06-01T09:42:56Z,2016-06-01 00:00:00+00:00,66.0,MARIA ORTIZ,0,1,1,0,0,0,1
110534,3.449833e+12,5787233,F,2016-06-08T09:35:13Z,2016-06-08 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,0,1
110535,5.639473e+13,5758133,M,2016-06-01T10:19:12Z,2016-06-01 00:00:00+00:00,44.0,MARIA ORTIZ,0,0,0,0,0,0,1
110536,7.812456e+13,5787937,F,2016-06-08T10:50:42Z,2016-06-08 00:00:00+00:00,22.0,GOIABEIRAS,0,0,0,0,0,0,1
110537,7.345362e+14,5759473,F,2016-06-01T13:00:36Z,2016-06-01 00:00:00+00:00,64.0,SOLON BORGES,0,0,0,0,0,0,1
110538,7.542951e+12,5788052,F,2016-06-08T11:06:21Z,2016-06-08 00:00:00+00:00,4.0,MARIA ORTIZ,0,0,0,0,0,0,1
110539,5.666548e+14,5637132,F,2016-04-28T17:29:26Z,2016-06-07 00:00:00+00:00,31.0,RESISTÊNCIA,0,0,0,0,0,1,0
110540,9.113946e+14,5780308,F,2016-06-07T07:52:47Z,2016-06-07 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,0,1
110541,9.988472e+13,5589609,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,0,1
110542,9.994839e+10,5589608,F,2016-04-15T12:31:45Z,2016-06-07 00:00:00+00:00,56.0,RESISTÊNCIA,0,0,0,0,0,1,1
110543,8.457439e+13,5751672,M,2016-05-31T10:28:02Z,2016-06-07 00:00:00+00:00,75.0,RESISTÊNCIA,0,1,0,0,0,1,1
110544,1.479497e+13,5692938,F,2016-05-12T16:47:53Z,2016-06-07 00:00:00+00:00,17.0,RESISTÊNCIA,0,1,0,0,0,1,0
110545,1.713538e+13,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110546,7.223289e+12,5756018,F,2016-06-01T07:53:30Z,2016-06-01 00:00:00+00:00,21.0,MARIA ORTIZ,0,0,0,0,0,0,1
110547,6.222575e+14,5672031,F,2016-05-09T07:32:36Z,2016-06-08 00:00:00+00:00,68.0,MARIA ORTIZ,0,0,0,0,0,0,1
110548,1.215484e+13,5626262,M,2016-04-27T08:02:08Z,2016-06-02 00:00:00+00:00,59.0,MARIA ORTIZ,0,0,0,0,0,1,1

In [26]:
# query consultando todas as linhas cujo IDconsulta seja 5625409
df.query('AppointmentID == 5625409')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110284,2.532387e+14,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1
110545,1.713538e+13,5625409,F,2016-04-27T07:13:00Z,2016-06-01 00:00:00+00:00,62.0,MARIA ORTIZ,0,0,0,0,0,1,1

In [27]:
df.query('Handcap == 2')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
946,7.282582e+13,5582483,M,2016-04-14T09:26:08Z,2016-04-29 00:00:00+00:00,94.0,BELA VISTA,0,1,1,0,2,1,1
1665,1.242919e+13,5525497,M,2016-03-30T09:16:41Z,2016-04-29 00:00:00+00:00,64.0,SANTA MARTHA,0,1,0,1,2,1,1
1666,1.242919e+13,5525498,M,2016-03-30T09:16:41Z,2016-04-29 00:00:00+00:00,64.0,SANTA MARTHA,0,1,0,1,2,0,1
2071,1.242919e+13,5640120,M,2016-04-29T10:08:48Z,2016-04-29 00:00:00+00:00,64.0,SANTA MARTHA,0,1,0,1,2,0,1
2091,1.491829e+13,5638626,F,2016-04-29T08:13:59Z,2016-04-29 00:00:00+00:00,11.0,ANDORINHAS,0,0,0,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108376,2.387212e+14,5756931,F,2016-06-01T08:48:28Z,2016-06-07 00:00:00+00:00,44.0,ROM√ÉO,0,1,1,0,2,1,1
109484,3.589495e+14,5752442,M,2016-05-31T11:45:57Z,2016-06-02 00:00:00+00:00,64.0,DA PENHA,0,1,1,0,2,0,1
109733,5.662976e+14,5772744,F,2016-06-03T16:11:00Z,2016-06-07 00:00:00+00:00,34.0,JUCUTUQUARA,0,0,0,0,2,1,1
109975,4.522185e+13,5766970,M,2016-06-02T16:07:36Z,2016-06-06 00:00:00+00:00,39.0,PRAIA DO SUÁ,1,0,0,0,2,1,1
110107,7.143714e+14,5761625,F,2016-06-02T06:44:00Z,2016-06-06 00:00:00+00:00,44.0,RESISTÊNCIA,0,0,0,0,2,1,1

In [28]:
#- Qual o impacto do recebimento do SMS em cada grupo?
#  - Geral
print(f"Somente em {df['SMS_received'].mean()*100:.2f}% das consultas os pacientes receberam lembrete SMS.\n")
    

    
#  - Problemas de saúde
#  - Idade

Somente em 32.11% das consultas os pacientes receberam lembrete SMS.

In [29]:
duplicated_rows

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110549,6.238228e+12,5685689,F,2016-05-11T10:55:39Z,2016-06-06 00:00:00+00:00,13.0,RESISTÊNCIA,0,0,0,0,0,1,1
110550,6.272115e+13,5685681,M,2016-05-11T10:54:44Z,2016-06-06 00:00:00+00:00,6.0,RESISTÊNCIA,0,0,0,0,0,1,1
110551,8.661213e+14,5747442,F,2016-05-30T15:38:46Z,2016-06-06 00:00:00+00:00,8.0,RESISTÊNCIA,0,0,0,0,0,1,1
110552,4.324755e+13,5756120,F,2016-06-01T07:58:45Z,2016-06-06 00:00:00+00:00,14.0,RESISTÊNCIA,0,0,0,0,0,1,1
110553,2.629184e+14,5756082,F,2016-06-01T07:56:41Z,2016-06-06 00:00:00+00:00,40.0,RESISTÊNCIA,0,1,1,0,0,1,1
110554,2.911460e+14,5749879,F,2016-05-31T08:19:23Z,2016-06-06 00:00:00+00:00,12.0,RESISTÊNCIA,0,0,0,0,0,1,0
110555,2.586717e+12,5746688,M,2016-05-30T14:23:10Z,2016-06-06 00:00:00+00:00,49.0,RESISTÊNCIA,0,1,0,0,0,1,1
110556,3.681872e+13,5760367,F,2016-06-01T14:45:45Z,2016-06-06 00:00:00+00:00,34.0,RESISTÊNCIA,0,0,0,0,0,1,1
110557,6.338837e+14,5701786,F,2016-05-16T11:00:12Z,2016-06-06 00:00:00+00:00,39.0,RESISTÊNCIA,0,1,0,0,0,1,1
110558,4.623267e+13,5772475,F,2016-06-03T15:30:53Z,2016-06-03 00:00:00+00:00,86.0,RESISTÊNCIA,0,1,0,0,0,0,1
110559,6.142460e+11,5772400,F,2016-06-03T15:18:44Z,2016-06-03 00:00:00+00:00,0.0,RESISTÊNCIA,0,0,0,0,0,0,1
110560,7.214919e+14,5772215,M,2016-06-03T14:53:55Z,2016-06-03 00:00:00+00:00,52.0,RESISTÊNCIA,0,0,0,0,1,0,1
110561,4.994742e+12,5772107,F,2016-06-03T14:34:46Z,2016-06-03 00:00:00+00:00,79.0,RESISTÊNCIA,0,1,1,0,0,0,1
110562,2.285376e+13,5770424,F,2016-06-03T10:15:24Z,2016-06-03 00:00:00+00:00,2.0,RESISTÊNCIA,0,0,0,0,0,0,1
110563,9.968524e+14,5770114,F,2016-06-03T09:45:25Z,2016-06-03 00:00:00+00:00,36.0,RESISTÊNCIA,0,0,0,0,0,0,1
110564,8.628934e+11,5770574,F,2016-06-03T10:37:12Z,2016-06-03 00:00:00+00:00,61.0,RESISTÊNCIA,0,1,0,0,0,0,1
110565,4.321846e+13,5769545,F,2016-06-03T08:56:51Z,2016-06-03 00:00:00+00:00,0.0,RESISTÊNCIA,0,0,0,0,0,0,1
110566,3.346245e+12,5628114,F,2016-04-27T10:29:36Z,2016-06-03 00:00:00+00:00,13.0,RESISTÊNCIA,0,0,0,0,0,1,0
110567,9.848895e+14,5769406,F,2016-06-03T08:48:00Z,2016-06-03 00:00:00+00:00,1.0,RESISTÊNCIA,0,0,0,0,0,0,1
110568,8.567868e+12,5627377,F,2016-04-27T09:24:46Z,2016-06-03 00:00:00+00:00,20.0,RESISTÊNCIA,0,0,0,0,0,1,1
110569,3.134163e+12,5768536,F,2016-06-03T07:42:27Z,2016-06-03 00:00:00+00:00,53.0,RESISTÊNCIA,0,0,0,0,0,0,1
110570,6.846652e+12,5768917,M,2016-06-03T08:10:22Z,2016-06-03 00:00:00+00:00,51.0,RESISTÊNCIA,0,0,0,0,0,0,1
110571,8.222960e+11,5772302,F,2016-06-03T15:06:15Z,2016-06-07 00:00:00+00:00,19.0,RESISTÊNCIA,0,0,0,0,0,1,1
110572,7.682333e+13,5782376,M,2016-06-07T11:06:56Z,2016-06-07 00:00:00+00:00,1.0,RESISTÊNCIA,0,0,0,0,0,0,1

In [30]:
print(len(df))
# AppointmentID sem repetições
unique_aID = df.drop_duplicates(subset='AppointmentID', keep='first')
print(len(unique_aID))
unique_aID['SMS_received'].mean()

110573
110527

0.32102563174608917

In [31]:
# porcentagem das consultas que receberam Lembrete SMS
print(f"Somente {unique_aID['SMS_received'].mean()*100:.2f}% receberam lembrete SMS. ")

Somente 32.10% receberam lembrete SMS.

In [32]:
#
df.groupby(['No-show'])['SMS_received'].value_counts(normalize =True)

No-show  SMS_received
0        0               0.561548
         1               0.438452
1        0               0.708643
         1               0.291357
Name: SMS_received, dtype: float64

In [33]:
# percentual de ausencia pelo sexo biológico

# percentual de ausencia entre os benificiários do bolsa família

# percentual de ausência entre o grupo PCD

# percentual de ausência entre os alcolótras

# percentual de ausência entre os diabéticos

# percentual de ausência entre os hipertensos

# qual(ais) vício/patologia(s) estão mais conjugadas com o diabetes?

# qual(ais) vício/patologia(s) estão mais conjugadas com a hipertensão?

# qual(ais) patologia(s) estão mais conjugadas com o alcolismo?

# qual(ais) vício/patologia(s) mais acometem o grupo PCD?

# qual(ais) vício/patologia(s) mais acometem o grupo de beneficiários do Bolsa família?

# Qual(is) o bairro(s) de pacientes com maior ausência em consultas? 

# Qual(is) bairro(s) detém maior número de beneficiários do programa Bolsa família?

# Qual(is) bairro(s) detém maior número de alcólotras? 

# Qual(is) bairro(s) detém maior número de hipertensos? 

# Qual(is) bairro(s) detém maior número de diabéticos? 

# qual faixa etária é mais acometida pelo vício do alcolismo? 

# qual faixa etária é mais acometida pelo diabetes? 

# qual faixa etária é mais acometida pelo hipertensão?

In [34]:
# numero total de bairros de vitória - ES da planilha
total_bairros=len(df['Neighbourhood'].unique())
total_bairros

86