Este conjunto de dados contém informações sobre as consultas médicas marcadas em clínicas no Brasil e se os pacientes compareceram ou não às consultas.

O conjunto de dados inclui as seguintes colunas:

* PatientId: identificador único do paciente
* AppointmentID: identificador único da consulta
* Gender: gênero do paciente (Feminino/Masculino)
* ScheduledDay: data em que a consulta foi marcada
* AppointmentDay: data da consulta
* Age: idade do paciente
* Neighbourhood: nome do bairro onde a consulta ocorrerá
* Scholarship: indica se o paciente faz parte do programa Bolsa Família (0 = não, 1 = sim)
* Hipertension: indica se o paciente tem hipertensão (0 = não, 1 = sim)
* Diabetes: indica se o paciente tem diabetes (0 = não, 1 = sim)
* Alcoholism: indica se o paciente tem problemas com álcool (0 = não, 1 = sim)
* Handcap: indica se o paciente é deficiente (0 = não, 1 = sim)
* SMS_received: indica se o paciente recebeu uma mensagem de lembrete da consulta (0 = não, 1 = sim)
* No-show: indica se o paciente compareceu à consulta (No = sim, Yes = não)

In [ ]:
# espaço de tempo entre o dia da marcação e a caonsulta em si,  o que influencia na ausência?
# criar coluna com delta T 
# teste 1

In [1]:
import pandas as pd
import sys

In [2]:
df = pd.read_excel('appointment_prediction_data.xlsx')

In [31]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62.0,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62.0,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8.0,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56.0,JARDIM DA PENHA,0,1,1,0,0,0,No

In [3]:
df.info()
# appointmentDay poderia ser objeto tipo date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110573 entries, 0 to 110572
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110573 non-null  float64
 1   AppointmentID   110573 non-null  int64
 2   Gender          110573 non-null  object
 3   ScheduledDay    110573 non-null  object
 4   AppointmentDay  110573 non-null  object
 5   Age             110451 non-null  float64
 6   Neighbourhood   110573 non-null  object
 7   Scholarship     110573 non-null  int64
 8   Hipertension    110573 non-null  int64
 9   Diabetes        110573 non-null  int64
 10  Alcoholism      110573 non-null  int64
 11  Handcap         110573 non-null  int64
 12  SMS_received    110573 non-null  int64
 13  No-show         110573 non-null  object
dtypes: float64(2), int64(7), object(5)
memory usage: 11.8+ MB

In [4]:
# coluna gender
f= df['Gender'] == 'Female'
f.value_counts() 
# 48 campos fora do padrão

False    110525
True         48
Name: Gender, dtype: int64

In [5]:
m=df['Gender'] == "Male"
m.value_counts()
# 9 fora do padrão

False    110564
True          9
Name: Gender, dtype: int64

In [6]:
# substituindo Female por F
df['Gender'].replace({'Female':'F','Male':'M'}, inplace=True)

In [7]:
# converter dtype object para datetime na coluna AppointmentDay
df['AppointmentDay']=pd.to_datetime(df['AppointmentDay'], format='%Y-%m-%d')
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29 00:00:00+00:00,62.0,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29 00:00:00+00:00,56.0,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29 00:00:00+00:00,62.0,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29 00:00:00+00:00,8.0,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29 00:00:00+00:00,56.0,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110568,8.567868e+12,5627377,F,2016-04-27T09:24:46Z,2016-06-03 00:00:00+00:00,20.0,RESIST√äNCIA,0,0,0,0,0,1,No
110569,3.134163e+12,5768536,F,2016-06-03T07:42:27Z,2016-06-03 00:00:00+00:00,53.0,RESIST√äNCIA,0,0,0,0,0,0,No
110570,6.846652e+12,5768917,M,2016-06-03T08:10:22Z,2016-06-03 00:00:00+00:00,51.0,RESIST√äNCIA,0,0,0,0,0,0,No
110571,8.222960e+11,5772302,F,2016-06-03T15:06:15Z,2016-06-07 00:00:00+00:00,19.0,RESIST√äNCIA,0,0,0,0,0,1,No
110572,7.682333e+13,5782376,M,2016-06-07T11:06:56Z,2016-06-07 00:00:00+00:00,1.0,RESIST√äNCIA,0,0,0,0,0,0,No

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110573 entries, 0 to 110572
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110573 non-null  float64
 1   AppointmentID   110573 non-null  int64
 2   Gender          110573 non-null  object
 3   ScheduledDay    110573 non-null  object
 4   AppointmentDay  110573 non-null  datetime64[ns, UTC]
 5   Age             110451 non-null  float64
 6   Neighbourhood   110573 non-null  object
 7   Scholarship     110573 non-null  int64
 8   Hipertension    110573 non-null  int64
 9   Diabetes        110573 non-null  int64
 10  Alcoholism      110573 non-null  int64
 11  Handcap         110573 non-null  int64
 12  SMS_received    110573 non-null  int64
 13  No-show         110573 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(7), object(4)
memory usage: 11.8+ MB

In [9]:
# substituir os nomes dos bairros fora do padrao 
df['Neighbourhood'].replace({'RESIST√äNCIA':'RESISTÊNCIA','REP√öBLICA':'REPÚBLICA',
                            'S√ÉO PEDRO':'SÃO PEDRO','S√ÉO CRIST√ìV√ÉO':'SÃO CRISTÓVÃO',
                             'MARU√çPE':'MARUÍPE','GRANDE VIT√ìRIA':'GRANDE VITÓRIA',
                             'S√ÉO BENEDITO':'SÃO BENEDITO','SANTO ANDR√â':'SANTO ANDRÉ',
                             'ANT√îNIO HON√ìRIO':'ANTÔNIO HONÓRIO',
                             'M√ÅRIO CYPRESTE':'MARIO CYPRESTE','SANTO ANT√îNIO':'SANTO ANTONIO',
                             'PRAIA DO SU√Å':'PRAIA DO SUÁ','ITARAR√â':'ITARARA',
                             'INHANGUET√Å':'INHAGUETA','UNIVERSIT√ÅRIO':'UNIVERSITARIO',
                             'S√ÉO JOS√â':'SÃO JOSÉ','REDEN√á√ÉO':'REDENÇÃO',
                             'CARATO√çRA':'CARATOÍRA'}, inplace=True)

In [10]:
if '√' in df['Neighbourhood']:
    print('há nomes incorretos')
else:
    print('Valores corrigidos')

Valores corrigidos

In [11]:
# Age, há pessoas sem registro de idade?
#quantas?

print(f"Yes, it is {df['Age'].isnull().any()} that have null rows in this column.\n")

(f"It\'s {df['Age'].isnull().sum()} null rows in this column.")

Yes, it is True that have null rows in this column.

"It's 122 null rows in this column."

In [ ]:
# caso seja necessário apagar as linhas cujas idades constam null:
#df.dropna(subset=["Age"], inplace=True)

In [12]:
df['PatientId'].value_counts()

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
                ..
4.123288e+12     1
2.915678e+13     1
5.885473e+11     1
2.754952e+14     1
1.557663e+13     1
Name: PatientId, Length: 62299, dtype: int64

In [14]:
# percentual de ausentes pelo todo
df['No-show'].replace({'Yes': 0, 'No': 1}, inplace=True)
porcentagem_comparecimento = df['No-show'].mean() * 100
porcentagem_nao_comparecimento = 100 - porcentagem_comparecimento
print(f"% comparecimento: {porcentagem_comparecimento:.2f}%\n% não comparecimento: {porcentagem_nao_comparecimento:.2f}%")

% comparecimento: 79.81%
% não comparecimento: 20.19%

In [ ]:
# percentual de ausencia pelo sexo biológico

# percentual de ausencia entre os benificiários do bolsa família

# percentual de ausência entre o grupo PCD

# percentual de ausência entre os alcolótras

# percentual de ausência entre os diabéticos

# percentual de ausência entre os hipertensos

# qual(ais) vício/patologia(s) estão mais conjugadas com o diabetes?

# qual(ais) vício/patologia(s) estão mais conjugadas com a hipertensão?

# qual(ais) patologia(s) estão mais conjugadas com o alcolismo?

# qual(ais) vício/patologia(s) mais acometem o grupo PCD?

# qual(ais) vício/patologia(s) mais acometem o grupo de beneficiários do Bolsa família?

# Qual(is) o bairro(s) de pacientes com maior ausência em consultas? 

# Qual(is) bairro(s) detém maior número de beneficiários do programa Bolsa família?

# Qual(is) bairro(s) detém maior número de alcólotras? 

# Qual(is) bairro(s) detém maior número de hipertensos? 

# Qual(is) bairro(s) detém maior número de diabéticos? 

# qual faixa etária é mais acometida pelo vício do alcolismo? 

# qual faixa etária é mais acometida pelo diabetes? 

# qual faixa etária é mais acometida pelo hipertensão?

In [15]:
# numero total de bairros de vitória - ES da planilha
total_bairros=len(df['Neighbourhood'].unique())
total_bairros

86